# Imports
Imports for the project will be updated as we go along.<br>
The rquired libraries and modules will be imported as needed.

In [1]:
import pandas as pd

# Data
I have used the data from John Hopkins University which they have provided on GitHub [https://github.com/CSSEGISandData/COVID-19.git]
This data gets updated on constant, frequent intervals (mostly on day-to-day basis).
To access this data, instead of downloading the entire datasets, we can simply link to the files that are available on github and access the data directly without the need for any downloads or local dataset files.

However, we will need to manually change the dates in the data imports.<br>
Just to be safe and avoid any anomalies in the data, We will use data that is two to three days old for reliability.<br>
In the imports for the dataframes from John Hopkins University (ie. latest_data and us_medical_data) we will be using the last updates from two days before.<br>
In the imports for Apple inc. data, (ie. the mobility and analytics from Apple inc.) we will be using data from three days before.

In [2]:
confirmedDf = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deathsDf = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveriesDf = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
latestData = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/09-27-2020.csv')
usMedicalData = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/09-27-2020.csv')
appleMobility = pd.read_csv('https://covid19-static.cdn-apple.com/covid19-mobility-data/2017HotfixDev19/v3/en-us/applemobilitytrends-2020-09-26.csv')

C:\Users\Siddhant\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
confirmedDf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38919,39044,39074,39096,39145,39170,39186,39192,39227,39233
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,12226,12385,12535,12666,12787,12921,13045,13153,13259,13391
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,49623,49826,50023,50214,50400,50579,50754,50914,51067,51213
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1564,1564,1681,1681,1753,1753,1836,1836,1836,1966
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,3901,3991,4117,4236,4363,4475,4590,4672,4718,4797

In [4]:
deathsDf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1437,1441,1444,1445,1446,1451,1451,1453,1453,1455
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,358,362,364,367,370,370,373,375,377,380
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1665,1672,1679,1689,1698,1703,1707,1711,1714,1719
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,53,53,53,53,53,53,53,53,53,53
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,147,152,154,155,159,162,167,171,174,176

In [5]:
recoveriesDf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32576,32576,32576,32576,32610,32619,32619,32635,32642,32642
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6888,6940,6995,7042,7139,7239,7309,7397,7397,7629
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,34923,35047,35180,35307,35428,35544,35654,35756,35860,35962
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1164,1164,1199,1199,1203,1203,1263,1263,1263,1265
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1445,1445,1449,1462,1473,1503,1554,1639,1707,1813

In [6]:
latestData.head()
# last date and time of updation along with more information such as number of cases, deaths, recoveries, active cases. etc.

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,9/28/20 4:23,33.93911,67.709953,39227,1453,32642,5132.0,Afghanistan,100.767202,3.704081
1,NaN,NaN,NaN,Albania,9/28/20 4:23,41.15330,20.168300,13259,377,7397,5485.0,Albania,460.733894,2.843352
2,NaN,NaN,NaN,Algeria,9/28/20 4:23,28.03390,1.659600,51067,1714,35860,13493.0,Algeria,116.455611,3.356375
3,NaN,NaN,NaN,Andorra,9/28/20 4:23,42.50630,1.521800,1836,53,1263,520.0,Andorra,2376.237624,2.886710
4,NaN,NaN,NaN,Angola,9/28/20 4:23,-11.20270,17.873900,4718,174,1707,2837.0,Angola,14.355144,3.688003

In [7]:
usMedicalData.head()
# US specific data (statewise)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-09-28 04:30:36,32.3182,-86.9023,152321,2501,64583.0,85237.0,1.0,3106.572565,1111239.0,NaN,1.641927,84000001,USA,22663.615589,NaN
1,Alaska,US,2020-09-28 04:30:36,61.3707,-152.4044,7481,56,3502.0,3923.0,2.0,1022.630187,442869.0,NaN,0.748563,84000002,USA,60538.859537,NaN
2,American Samoa,US,2020-09-28 04:30:36,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1571.0,NaN,NaN,16,ASM,2823.457522,NaN
3,Arizona,US,2020-09-28 04:30:36,33.7298,-111.4312,217237,5623,34872.0,176742.0,4.0,2984.550711,1443323.0,NaN,2.588417,84000004,USA,19829.360037,NaN
4,Arkansas,US,2020-09-28 04:30:36,34.9697,-92.3731,81242,1308,72602.0,7332.0,5.0,2692.090010,940627.0,NaN,1.610005,84000005,USA,31169.254199,NaN

In [8]:
appleMobility.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2020-09-17,2020-09-18,2020-09-19,2020-09-20,2020-09-21,2020-09-22,2020-09-23,2020-09-24,2020-09-25,2020-09-26
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,140.86,151.82,164.99,160.00,126.60,128.29,122.76,118.41,122.77,117.15
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,161.07,165.59,157.44,141.41,158.68,149.81,146.82,138.76,148.06,124.99
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,66.01,76.20,75.11,46.99,59.23,60.17,62.01,62.72,68.81,64.62
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,56.07,62.88,58.01,41.11,50.83,50.00,53.50,53.18,51.42,44.79
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,101.92,102.84,82.47,89.67,91.87,93.99,95.72,102.71,102.03,87.47

Now that data is obtained <br>
lets look at all the dates of the outbreak.

In [9]:
columns = confirmedDf.keys()

In [10]:
# slicing/breaking the dataframe to extract information about dates, number of cases (and others)
# dates and info - 
confirm = confirmedDf.loc[:,columns[4]:columns[-1]]
death = deathsDf.loc[:,columns[4]:columns[-1]]
recover = recoveriesDf.loc[:,columns[4]:columns[-1]]

In [11]:
# all the dates
allDates = confirm.keys()

In [ ]:
# lists to store data according to dates
casesWorldwide = []
deathsTotal = []
totalRecoveries = []
totalActive = []
mortalityRate = []
recoveryRate = []